.aura--enchantment .aura-inner2:after,
.aura--evocation .aura-inner:before {
    border-radius: 50%;
    content: "";
    display: block;
    filter: blur(5px);
    height: 100%;
    position: absolute;
    width: 100%;
    will-change: auto;
}

.aura--evocation .aura-inner:before {
    -webkit-animation: aura 4s linear infinite;
    animation: aura 4s linear infinite;
    background: linear-gradient(0deg, rgba(255, 200, 0, 0.45), rgba(60, 60, 160, 0.8));
    z-index: -2;
}

.aura--evocation .aura-inner:after {
    -webkit-animation: aura-rev 2s linear infinite;
    animation: aura-rev 2s linear infinite;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.45), #226);
    z-index: -1;
}

.aura--evocation .aura-inner2:before,
.aura--evocation .aura-inner:after {
    border-radius: 50%;
    content: "";
    display: block;
    filter: blur(5px);
    height: 100%;
    position: absolute;
    width: 100%;
    will-change: auto;
}

.aura--evocation .aura-inner2:before,
.aura--evocation .aura-inner:after {
    border-radius: 50%;
    content: "";
    display: block;
    filter: blur(5px);
    height: 100%;
    position: absolute;
    width: 100%;
    will-change: auto;
}

.aura--evocation .aura-inner2:before {
    -webkit-animation: aura-rev 3s linear infinite;
    animation: aura-rev 3s linear infinite;
    background: linear-gradient(180deg, rgba(255, 255, 0, 0.65), rgba(60, 60, 160, 0.8));
    z-index: -2;
}

.aura--evocation .aura-inner2:after {
    -webkit-animation: aura 5s linear infinite;
    animation: aura 5s linear infinite;
    background: linear-gradient(270deg, rgba(255, 200, 0, 0.45), #226);
    z-index: -1;
}

.aura--evocation .aura-inner2:after,
.aura--illusion .aura-inner:before {
    border-radius: 50%;
    content: "";
    display: block;
    filter: blur(5px);
    height: 100%;
    position: absolute;
    width: 100%;
    will-change: auto;
}
